:root {
  --color-white: 250,250,250;
  --color-black: 30,30,30;
  --color-red: 249,68,73;
  --color-orange: 255,179,67;
  --color-green: 152,251,152;
  --border: 1px solid rgb(250,250,250,0.1);
  --border-radius-first: 20px 20px 0 0;
  --border-radius-last: 0 0 20px 20px;
  --border-radius-all: 20px;
  --transition: 0.2s;
  --hover-opacity: 0.5;
}

body {
  background: rgb(0,0,0);
  font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
  font-size: 14px;
  color: rgb(var(--color-white));
  padding: 0;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  gap: 15px;
  max-width: 100%;
  padding-bottom: 30px;
}

.left-col {
  display: flex;
  justify-content: flex-end;
}

.left-col .wrapper {
  width: 80px;
  height: 400px;
  margin-top: 100px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.left-col .wrapper .feature {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.left-col .wrapper .feature.first {
  border-radius: var(--border-radius-first);
}

.left-col .wrapper .feature.last {
  border-radius: var(--border-radius-last);
}

.left-col .wrapper .feature.active {
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.left-col .wrapper .feature:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.main-col {
  width: 900px;
}

.main-col .company {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-col .company .name {
  font-size: 20px;
  font-weight: bold;
  line-height: 60px;
  transition: var(--transition);
}

.main-col .company .name:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.main-col .company .heart {
  padding-left: 5px;
  font-size: 30px;
}

.main-col .content {
  height: 875px;
  border-radius: 20px;
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.main-col .content .profile {
  display: grid;
  grid-template-columns: 1fr 65px;
  gap: 15px;
  max-width: 100%;
  border-bottom: var(--border);
}

.main-col .content .profile .info {
  height: 60px;
  display: flex;
  align-items: center;
}

.main-col .content .profile .info .picture {
  height: 40px;
  margin-left: 30px;
}

.main-col .content .profile .info .name {
  font-weight: bold;
  margin-left: 15px;
}

.main-col .content .profile .info .splitter {
  margin: 0 10px 0 10px;
}

.main-col .content .profile .info .job {
  font-size: 12px;
}

.main-col .content .profile .info .department {
  font-size: 12px;
}

.main-col .content .profile .noti {
  width: 35px;
  height: 60px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.main-col .content .profile .noti:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.main-col .content .profile .noti .count {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: -17px 0 0 -17px;
  background-color: red;
  border-radius: 10px;
  font-weight: bold;
}

.main-col .content .filter {
  display: flex;
  align-items: center;
  margin: 15px 0 0 30px;
}

.main-col .content .filter .date {
  display: grid;
  grid-template-columns: 1fr 50px;
  gap: 15px;
  max-width: 100%;
  align-items: center;
  width: 220px;
  height: 40px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
  transition: var(--transition);
}

.main-col .content .filter .date:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.main-col .content .filter .date .value {
  margin-left: 30px;
  font-weight: bold;
}

.main-col .content .filter .employee {
  display: grid;
  grid-template-columns: 35px 1fr 50px;
  gap: 15px;
  max-width: 100%;
  align-items: center;
  width: 250px;
  height: 40px;
  margin-left: 15px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
  transition: var(--transition);
}

.main-col .content .filter .employee:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.main-col .content .filter .employee .picture {
  width: 30px;
  margin-left: 5px;
}

.main-col .content .filter .employee .name {
  font-weight: bold;
}

.main-col .content .calendar {
  width: 840px;
  margin: 15px 0 0 30px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.main-col .content .calendar .header {
  width: 840px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-first);
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
  text-align: center;
}

.main-col .content .calendar .header .day {
  width: 120px;
  font-weight: bold;
}

.main-col .content .calendar .header .day.day-off {
  opacity: 0.4;
}

.main-col .content .calendar .row {
  display: flex;
  align-items: center;
  border-bottom: var(--border);
}

.main-col .content .calendar .row .value {
  line-height: 20px;
}

.main-col .content .calendar .row.last {
  border-bottom: none;
}

.main-col .content .calendar .row .cell {
  width: 120px;
  height: 60px;
  padding: 5px 0 5px 0;
  text-align: center;
}

.main-col .content .calendar .row .cell.date-off {
  opacity: 0.4;
  background-color: rgb(var(--color-black));
}

.main-col .content .calendar .row .cell.date-off.bottom-left {
  border-radius: 0 0 0 20px;
}

.main-col .content .calendar .row .cell.date-off.bottom-right {
  border-radius: 0 0 20px 0;
}

.main-col .content .calendar .row .cell img.error {
  position: absolute;
  margin-left: 15px;
}

.main-col .content .calendar .row .cell img.warning {
  position: absolute;
  margin-left: 15px;
}

.main-col .content .calendar .row .cell img.ok {
  position: absolute;
  margin-left: 15px;
}

.main-col .content .calendar .row .cell span.error {
  font-weight: bold;
  color: rgb(var(--color-red));
}

.main-col .content .calendar .row .cell span.warning {
  font-weight: bold;
  color: rgb(var(--color-orange));
}

.main-col .content .calendar .row .cell span.ok {
  font-weight: bold;
  color: rgb(var(--color-green));
}

.main-col .content .calendar .row .cell .date.today {
  padding: 0 10px 0 10px;
  border-radius: 10px;
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.main-col .content .calendar .row .cell .date {
  font-weight: bold;
}

.main-col .content .calendar .row .cell .in {
  font-size: 12px;
}

.main-col .content .calendar .row .cell .out {
  font-size: 12px;
}

.main-col .content .sum {
  width: 840px;
  margin: 15px 0 0 30px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
}

.main-col .content .sum .header {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: var(--border-radius-first);
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
  line-height: 40px;
}

.main-col .content .sum .header .icon {
  font-weight: bold;
  margin-left: 30px;
}

.main-col .content .sum .row {
  display: grid;
  grid-template-columns: 1fr 40px 120px 1fr 40px 120px;
  gap: 0;
  max-width: 100%;
  height: 40px;
  padding: 0 30px 0 30px;
  line-height: 40px;
  border-bottom: var(--border);
}

.main-col .content .sum .row.last {
  border-bottom: none;
}

.main-col .content .sum .row .value {
  font-weight: bold;
}

.main-col .content .sum .row .unit {
  font-size: 12px;
}

.main-col .content .sum .row .error {
  color: rgb(var(--color-red));
}

.main-col .content .sum .row .warning {
  color: rgb(var(--color-orange));
}

.main-col .content .sum .row .ok {
  color: rgb(var(--color-green));
}


.right-col .wrapper {
  width: 225px;
  margin-top: 100px;
}

.right-col .wrapper .action {
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-radius: var(--border-radius-all);
  border: var(--border);
  border-bottom: none;
  border-right: none;
  background: linear-gradient(135deg,rgba(var(--color-white),0.1),rgba(var(--color-white),0.2));
  transition: var(--transition);
}

.right-col .wrapper .action:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

.right-col .wrapper .action.first {
  margin-top: 0;
}

.right-col .wrapper .action .icon {
  margin-left: 30px;
}

.right-col .wrapper .action .label {
  margin-left: 15px;
  font-weight: bold;
}